#header{
  width: 100%;
  height: 80px;
  background-color: pink;
}

.left{
  width: 30%;
  background-color: green; 
  float: left;
}

.right{
  width: 70%;
  background-color: lightgray;
  float: right;
  
}
   
