#header{
  width: 100%;
  height: 80px;
  background-color: black;
}

.left{
  width: 30%;
  background-color: orange; 
  float: left;
}

.right{
  width: 70%;
  background-color: black;
  float: right;
  
}
   
